    *{
    box-sizing: border-box;
}

body{
    background-color:hsl(30, 38%, 92%);
}

article{
    /* max-height: 400px; */
}

article,
section{
    min-width: 200px;
    min-height: 392px;
}

p, h2, del{
    color:rgb(165, 160, 160) ;
}

.money{
    max-width:178px;
    align-items: center;
}

button{
    width: 100%;
    background-color: hsl(158, 36%, 37%) !important;
}

button img{
    width:5% !important;
}


@media screen  and (max-width:885px) {

    .whole{
        flex-direction: column !important;
        width: 70% !important;
    }

    .left{
        max-height: 370px !important;
        min-height: 40px !important;
        border-radius: 0 !important;
    }

    .left img,
   .right{
        height: 420px!important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    object-fit: cover;
    object-position: center;
    }

    .rounded-end-3{
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

@media screen and (max-width:427px) {
    .whole{
        width: 80%;
    }
}